<div class="row-fluid">
	<div class="span3">
		<div class="imagen-perfil">
			<img alt="" src="../assets/contacto.jpg">
		</div>				
	</div>
	<div class="span8">
		<h3>Mirakel</h3>	
		<span>San Francisco, CA · Last login Oct. 07, 2012 · Full profile </span>
		<br>
		<br>
		<p>
			<strong>Email: </strong>Admin@gmail.com <br>
			<strong>Pais: </strong>Admin@gmail.com
		</p>
		<p>
			Born in Viljandi, Estonia, Tiit Helimets trained at the Tallinn Ballet School and began his career as a soloist with Estonian National Ballet. He was promoted to principal dancer six months later, making Estonian dance history when he danced the role of Prince Siegfried in Swan Lake at age 18. After dancing all the principal repertory with that company, he joined Birmingham Royal Ballet in 1999, where he created roles in Bintley’s The Seasons, The Shakespeare Suite, Sylvia, The Orpheus Suite, and Les Petit Riens; and in Siddiqui’s Krishna. Since joining SF Ballet in 2005, he has performed lead roles in Tomasson’s Swan Lake, Nutcracker, Giselle, and The Sleeping Beauty; as well as 
		</p>
		<br>
		
		<strong>Websites</strong>
		<p>
	
    		<a href="#">http://sfballet.org</a> <br>
    		<a href="#">http://thethctour.squarespace.com</a> <br>
    		<a href="#">http://facebook.com</a>
		</p>

		<strong>Proyectos creados (1)</strong>
		<br><br>
		<p>
			<a class="alignleft" href="#">
				<img alt="" src="../assets/photo-little.jpg" class="img-polaroid">
			</a>
		</p>

	</div>
</div>


