<div class="row-fluid">
	<div id="project-header">	
		<h3 id="title">Proyecto N° 1</h3>
	</div>
</div>

<div class="row-fluid">
	<div class="span8">
		<div align="center">
			<img alt="" src="../assets/estudiantes.jpg" class="img-rounded">
		</div>
	</div>
	<div class="span4 well">
		<div align="center"><a href="#" class="btn btn-success">Unirse al Proyecto</a></div>
		<br>
	
		<p>
			Este es el primer proyecto proyecto creaddo en el sitio web de Informaticos
			sin fronteras.
		</p>
	</div>
	<div class="span4 projectby">
		<a class="alignleft" href="#">
			<img alt="" src="../assets/news_1.jpg">
		</a>
		<strong>Autor: </strong>Mirakel<br>
		<strong>Email: </strong>Admin@gmail.com <br>
		<strong>Pais: </strong>Admin@gmail.com
		<br>
		<br>
		<div align="center">
			<a href="#">Mas informacion</a>
		</div>
		
	</div>

</div>


