<div class="row-fluid">
	<div class="span8">
		<h3>Vector hiperrealista en Illustrator (III)</h3>
		<p>
			<a href="#">
				<img width="600" height="362" alt="" src="../assets/video-1.jpg">
				<span class="bg"></span>
			</a>
		</p>
		<div align="center">
			<a href="#" class="btn btn-danger">Sube tu propio video tutorial</a>
		</div>

	</div> 
	<div class="span4 projectby">
		<h4>Lo videotutoriales más vistos</h4>
					<ul class="latest_news">
						<li>
							<a class="alignleft" href="#">
								<img alt="" src="../assets/news_1.jpg">
							</a>
							<abbr>01-04-2012</abbr>
							<a href="#">Photoshop</a>
							<p>sagittis nec ullamcorper justo consequat urabitur pharetra</p>
						</li>
						<li>
							<a class="alignleft" href="#">
								<img alt="" src="../assets/news_2.jpg">
							</a>
							<abbr>01-04-2012</abbr>
							<a href="#">Curso basico de CSS3</a>
							<p>sagittis nec ullamcorper justo consequat urabitur pharetra</p>
						</li>
						<li>
							<a class="alignleft" href="#">
								<img alt="" src="../assets/news_3.jpg">
							</a>
							<abbr>01-04-2012</abbr>
							<a href="#">Lo nuevo de Html5</a>
							<p>sagittis nec ullamcorper justo consequat urabitur pharetra</p>
						</li>
					</ul>
	</div>
</div>
