<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title> Informáticos sin Fronteras Latinoamérica</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link href="http://wbpreview.com/previews/WB00B8422/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://wbpreview.com/previews/WB00B8422/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="http://wbpreview.com/previews/WB00B8422/css/social-buttons.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="http://wbpreview.com/previews/WB00B8422/css/style.css" rel="stylesheet">
    <link href="http://wbpreview.com/previews/WB00B8422/css/custom.css" rel="stylesheet">

    
    <script type="text/javascript" src="./Hearty - Coming soon page_files/jquery-1.7.2.min.js"></script>
    <script src="./Hearty - Coming soon page_files/bootstrap.min.js"></script>
    <script type="text/javascript" src="./Hearty - Coming soon page_files/custom.js"></script>
    
</head><link rel="stylesheet" type="text/css" href="data:text/css,">

<body>
    <div class="container">
        <div class="gradient">
            <div class="row">
                <div id="logo">
                   Informáticos
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <div class="content">
                        <h1>Hey. Los queremos!</h1>
                        <p>Nuestro sitio web se esta trabajando, y estará pronto.<br>Dejanos su email debajo, y le notificaremos al minuto que abramos nuestras puertas</p>
                        <form action="#" class="form-horizontal">
                            <input type="email" name="email" placeholder="Ingresa tu email" class="input-large">
                            <input type="submit" value="Notificame!" class="btn btn-large btn-primary">
                        </form>
                        <p>
                            <a href="http://twitter.com/" class="sb circle twitter mytooltip" data-original-title="Twitter">Twitter</a>
                            <a href="http://facebook.com/" class="sb circle facebook mytooltip" data-original-title="Facebook">Facebook</a>
                            <a href="http://plus.google.com/" class="sb circle gplus mytooltip" data-original-title="Google Plus">Google Plus</a>
                            <a href="http://pinterest.com/" class="sb circle pinterest mytooltip" data-original-title="Pinterest">Pinterest</a>
                            <a href="#" class="sb circle rss mytooltip" data-original-title="RSS">RSS</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>