<div class="span12 widget">
                                        <div class="widget-header">
                                            <span class="title">Mi idea</span>
                                            <div class="toolbar">
                                                <div class="btn-group">
                                                    <span class="btn" rel="popover" data-trigger="hover" data-placement="left" data-content="&lt;code&gt;table table-striped table-detail-view&lt;/code&gt;" title="Detail View Table">
                                                        Show Code
                                                    </span>
                                                    <span class="btn dropdown-toggle" data-toggle="dropdown">
                                                        <i class="icon-pencil"></i> Acciones <i class="caret"></i>
                                                    </span>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li><a href="#"><i class="icol-magnifier"></i> Ver más detalles</a></li>
                                                        <li><a href="#"><i class="icol-pencil"></i> Editar</a></li>
                                                        <li><a href="#"><i class="icol-cross"></i> Eliminar todo</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-content table-container">
                                            <table class="table table-striped table-detail-view">
                                                <thead>
                                                    <tr>
                                                        <th colspan="2"><i class="icol-exclamation"></i> Información general</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>Título</th>
                                                        <td>Desarrollo de sistema integral para gestión municipal</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Capital</th>
                                                        <td>Santiago</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Official language(s)</th>
                                                        <td>Español</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Official scripts</th>
                                                        <td>Castellano</td>
                                                    </tr>
                                                    <tr>
                                                        <th>National Foundation Day</th>
                                                        <td>October 3, 2333 BC</td>
                                                    </tr>
                                                </tbody>
                                                <thead>
                                                    <tr>
                                                        <th colspan="2"><i class="icol-user-business-boss"></i> Liders de proyecto</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>President</th>
                                                        <td>Lee Myung-bak</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Prime Minister</th>
                                                        <td>Kim Hwang-sik</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Speaker</th>
                                                        <td>Andres</td>
                                                    </tr>
                                                      <tr>
                                                        <th>Miembros que siguen esta idea</th>
                                                        <td>Andres , Milagros, Gabo, Elsy, Juan Carlos, Jeanine</td>
                                                    </tr>
                                                </tbody>
                                                <thead>
                                                    <tr>
                                                        <th colspan="2"><li class="icol-world"></li> Información geográfica</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>Area</th>
                                                        <td>100,210 km2</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Population (2012)</th>
                                                        <td>50,004,441</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
<div class="metro" id="layout">
    <div class="layout">
        <div id="scroll" class="metro-scroll">
            <div class="content clearfix" id="content">
                <div class="frames">
                    <div class="frame size3">
                        <h2>Comentarios sobre mi idea</h2>
                        <ul class="metro-replies">
                            <li class="metro-reply bg-color-orange">
                                <b class="sticker sticker-left sticker-color-orange"></b>
                                <div class="avatar"><img src="img/myface.jpg" /></div>
                                <div class="reply">
                                    <div class="date">01.01.2012</div>
                                    <div class="author">Olton</div>
                                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut nisi dolor, eget luctus lectus.</div>
                                </div>
                            </li>
                            <li class="metro-reply bg-color-green">
                                <b class=" sticker sticker-right sticker-color-green"></b>
                                <div class="avatar"><img src="img/myface.jpg" /></div>
                                <div class="reply">
                                    <div class="date">01.01.2012</div>
                                    <div class="author">Juan Carlos</div>
                                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut nisi dolor, eget luctus lectus.</div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $("body").metroUI();
    })
</script>