<div class="content-main">
  <div class="content-header">
    <div class="header-inner">
      <h2>Contraseña</h2>
      <p class="subheader">Cambia tu contraseña, o recupera la actual.</p>
    </div>
  </div>
  <div class="content-inner no-stream-end">
      <div class="alert">
        <p>
        <a href="/devices">Asocia tu teléfono móvil</a> con tu cuenta de InformáticoSF para mayor seguridad.
        <a href="https://support.twitter.com/articles/14663?utm_source=14663&utm_medium=website&utm_campaign=inproduct#SMSreset" target="_blank">Aprende más.</a>
        </p>
      </div>
    <form class="form-horizontal" id="password-form" method="POST" action="https://twitter.com/settings/passwords/update">
      <div id="settings-alert-box" class="alert" style="display: none;">
        <i id="settings-alert-close" class="close"></i>
      </div>
      <input type="hidden" value="PUT" name="_method">
      <input type="hidden" name="authenticity_token" value="4266bf401e048710758ba1d804104fe6f9ae99ca">
      <fieldset class="control-group">
        <label for="current_password" class="control-label">Contraseña actual</label>
        <div class="controls">
          <input id="current_password" type="password" name="current_password">
          <p>
            <a href="/account/resend_password" id="forgot_password">¿Olvidaste tu contraseña?</a>
            <span id="reminder_sent" style="visibility: hidden">¡Recordatorio enviado!</span>
          </p>
        </div>
      </fieldset>
      <div id="password-match-pair">
        <fieldset class="control-group">
          <label for="user_password" class="control-label">Nueva contraseña</label>
          <div id="password_strength" class="controls">
            <input id="user_password" type="password" name="user_password">
            <small id="password_strength_feedback" class="help-inline help-error" style="display: none;"></small>
          </div>
        </fieldset>
        <fieldset class="control-group">
          <label for="user_password_confirmation" class="control-label">Verificar contraseña</label>
          <div class="controls">
            <input id="user_password_confirmation" type="password" name="user_password_confirmation">
            <small id="password_match" class="help-inline help-error" style="display: none;">Las contraseñas no coinciden</small>
          </div>
        </fieldset>
      </div>
      <hr>
      <div class="form-actions">
        <button id="settings_save" class="btn btn-primary" type="submit">Guardar cambios</button>
      </div>    </form>
  </div>
</div>