
<% content_for :sidebar do %>
  <div class="bs-docs-example">
            <div class="hero-unit">
              <h1>Hola, mundo</h1>
              <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              <p><a class="btn btn-primary btn-large">Conoce más de mi</a></p>
            </div>
</div>

<% end %>
 
          <div class="bs-docs-example">
            <div class="hero-unit">
              <h1>Hola, mundo</h1>
              <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              <p><a class="btn btn-primary btn-large">Conoce más de mi</a></p>
            </div>
</div>


<h3>Mis ultimas publicaciones</h3>
<div class="progress">
  <div class="bar bar-success" style="width: 35%;"></div>
  <div class="bar bar-warning" style="width: 20%;"></div>
  <div class="bar bar-danger" style="width: 10%;"></div>
</div>
<hr>
    <div class="span2">
	<%=	image_tag("michael.jpg", :class => "member-box-avatar",:height => "50px", :width => "50px") %>    </div>
<div>

Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
</div>
<hr>
   <div class="span2">
	<%=	image_tag("michael.jpg", :class => "member-box-avatar",:height => "50px", :width => "50px") %>    </div>
<div>

Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
</div><hr>
   <div class="span2">
	<%=	image_tag("michael.jpg", :class => "member-box-avatar",:height => "50px", :width => "50px") %>    </div>
<div>

Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
</div><hr>
   <div class="span2">
	<%=	image_tag("michael.jpg", :class => "member-box-avatar",:height => "50px", :width => "50px") %>    </div>
<div>

Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
</div><hr>
<div class="progress progress-striped active">
  <div class="bar" style="width: 40%;"></div>
</div>