<div class="content-main" id="timeline">
  <div class="content-header">
    <div class="header-inner">
      <h2 class="js-timeline-title">Seguidores
      </h2>
    </div>
  </div>
      <div class="stream-container "
        
        data-cursor="1409571694764176378">
        <div class="stream profile-stream">
          <div class="stream-items" id="stream-items-id">  <div class="js-stream-item stream-item stream-item" data-item-id="36749409" data-item-type="user" id="stream-item-user-36749409">
      
      <div class="account  js-actionable-user js-profile-popup-actionable " data-screen-name="gamkt" data-user-id="36749409"   >
            
           <div class="user-actions btn-group not-following can-dm " data-user-id="36749409"
           data-screen-name="gamkt" data-name="Sergio" data-protected="false">
       
             
        <span class="user-dropdown js-link btn">
          <i class="account-arrow"></i>
          <i class="mark-as-spam-silhouette"></i>
          <i class="mark-as-spam-flag"></i>
          <small class="mark-as-spam-text">¿Spam?</small>
          <ul class="dropdown-menu">
            <li class="dropdown-caret">
              <span class="caret-outer"></span>
              <span class="caret-inner"></span>
            </li>
            <li class="mention-text pretty-link dropdown-link not-blocked">Twittear a <s>@</s>gamkt</li>
            <li class="dm-text dropdown-link">Enviar un Mensaje Directo</li>
            <li class="list-text pretty-link dropdown-link not-blocked">Añadir o quitar de las listas&hellip;</li>
            <li class="dropdown-divider not-blocked"></li>
            <li class="block-text pretty-link dropdown-link not-blocked">Bloquear a <s>@</s>gamkt</li>
            <li class="unblock-text pretty-link dropdown-link">Desbloquear a <s>@</s>gamkt</li>
            <li class="report-spam-text pretty-link dropdown-link">Reportar a <s>@</s>gamkt por spam</li>
            <li class="hide-suggestion-text dropdown-link">Ocultar esta recomendación</li>
            <li class="dropdown-divider is-following"></li>
            <li class="retweet-on-text dropdown-link">Activar Retweets</li>
            <li class="retweet-off-text dropdown-link">Desactivar los Retweets</li>
            <li class="device-notifications-on-text dropdown-link">Activar las notificaciones en tu móvil</li>
            <li class="device-notifications-off-text dropdown-link">Desactivar las notificaciones en tu móvil</li>
          </ul>
        </span>
      
             
      <button class="js-follow-btn follow-button btn" type="button">
        <span class="button-text follow-text"><i class="follow"></i> Seguir</span>
        <span class="button-text following-text">Siguiendo</span>
        <span class="button-text unfollow-text">Dejar de seguir</span>
        <span class="button-text blocked-text">Bloqueado</span>
        <span class="button-text unblock-text">Desbloquear</span>
        <span class="button-text pending-text">Pendiente</span>
        <span class="button-text cancel-text">Cancelar</span>
      </button>
       
       </div>

      <div class="content">
          <div class="stream-item-header">
            <a class="account-group js-user-profile-link" href="/gamkt">
              <img class="avatar js-action-profile-avatar " src="https://twimg0-a.akamaihd.net/profile_images/2481266274/xextbj7h8j69b0b5ti8o_normal.png" alt="Sergio" data-user-id="36749409"/>
              <strong class="fullname js-action-profile-name">Sergio</strong>
              <span>&rlm;</span>
              
              <span class="username js-action-profile-name">@gamkt</span>
            </a>
          </div>
            <p class="bio ">
                Entusiasta del marketing, la tecnología y los juegos ¿Resultado? Analista, Consultor y Autor de Game Marketing ¿Hablamos? <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23gamification" rel="nofollow" title="#gamification"><s>#</s><b>gamification</b></a> <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23gamificación" rel="nofollow" title="#gamificación"><s>#</s><b>gamificación</b></a>
            </p>
      
        </div>
      </div>
      
        </div>
  <div class="js-stream-item stream-item stream-item" data-item-id="827356868" data-item-type="user" id="stream-item-user-827356868">
      
      <div class="account  js-actionable-user js-profile-popup-actionable " data-screen-name="PedroMora21" data-user-id="827356868"   >
            
           <div class="user-actions btn-group following can-dm including " data-user-id="827356868"
           data-screen-name="PedroMora21" data-name="Pedro Mora" data-protected="false">
       
             
        <span class="user-dropdown js-link btn">
          <i class="account-arrow"></i>
          <i class="mark-as-spam-silhouette"></i>
          <i class="mark-as-spam-flag"></i>
          <small class="mark-as-spam-text">¿Spam?</small>
          <ul class="dropdown-menu">
            <li class="dropdown-caret">
              <span class="caret-outer"></span>
              <span class="caret-inner"></span>
            </li>
            <li class="mention-text pretty-link dropdown-link not-blocked">Twittear a <s>@</s>PedroMora21</li>
            <li class="dm-text dropdown-link">Enviar un Mensaje Directo</li>
            <li class="list-text pretty-link dropdown-link not-blocked">Añadir o quitar de las listas&hellip;</li>
            <li class="dropdown-divider not-blocked"></li>
            <li class="block-text pretty-link dropdown-link not-blocked">Bloquear a <s>@</s>PedroMora21</li>
            <li class="unblock-text pretty-link dropdown-link">Desbloquear a <s>@</s>PedroMora21</li>
            <li class="report-spam-text pretty-link dropdown-link">Reportar a <s>@</s>PedroMora21 por spam</li>
            <li class="hide-suggestion-text dropdown-link">Ocultar esta recomendación</li>
            <li class="dropdown-divider is-following"></li>
            <li class="retweet-on-text dropdown-link">Activar Retweets</li>
            <li class="retweet-off-text dropdown-link">Desactivar los Retweets</li>
            <li class="device-notifications-on-text dropdown-link">Activar las notificaciones en tu móvil</li>
            <li class="device-notifications-off-text dropdown-link">Desactivar las notificaciones en tu móvil</li>
          </ul>
        </span>
      
             
      <button class="js-follow-btn follow-button btn" type="button">
        <span class="button-text follow-text"><i class="follow"></i> Seguir</span>
        <span class="button-text following-text">Siguiendo</span>
        <span class="button-text unfollow-text">Dejar de seguir</span>
        <span class="button-text blocked-text">Bloqueado</span>
        <span class="button-text unblock-text">Desbloquear</span>
        <span class="button-text pending-text">Pendiente</span>
        <span class="button-text cancel-text">Cancelar</span>
      </button>
       
       </div>

      <div class="content">
          <div class="stream-item-header">
            <a class="account-group js-user-profile-link" href="/PedroMora21">
              <img class="avatar js-action-profile-avatar " src="https://twimg0-a.akamaihd.net/profile_images/2616707533/Pedrocascos_normal.jpg" alt="Pedro Mora" data-user-id="827356868"/>
              <strong class="fullname js-action-profile-name">Pedro Mora</strong>
              <span>&rlm;</span>
              
              <span class="username js-action-profile-name">@PedroMora21</span>
            </a>
          </div>
            <p class="bio ">
                 Front-end and Back-end developer. <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23PHP" rel="nofollow" title="#PHP"><s>#</s><b>PHP</b></a>, <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23ActionScript3" rel="nofollow" title="#ActionScript3"><s>#</s><b>ActionScript3</b></a>, <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23Python" rel="nofollow" title="#Python"><s>#</s><b>Python</b></a>, <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23HTML5" rel="nofollow" title="#HTML5"><s>#</s><b>HTML5</b></a>, <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23CSS3" rel="nofollow" title="#CSS3"><s>#</s><b>CSS3</b></a>, <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23jQuery" rel="nofollow" title="#jQuery"><s>#</s><b>jQuery</b></a>, <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23Wordpress" rel="nofollow" title="#Wordpress"><s>#</s><b>Wordpress</b></a>, 
            </p>
      
        </div>
      </div>
      
        </div>
  <div class="js-stream-item stream-item stream-item" data-item-id="597067423" data-item-type="user" id="stream-item-user-597067423">
      
      <div class="account  js-actionable-user js-profile-popup-actionable " data-screen-name="ciistacna" data-user-id="597067423"   >
            
           <div class="user-actions btn-group following can-dm including " data-user-id="597067423"
           data-screen-name="ciistacna" data-name="Congreso Informática" data-protected="false">
       
             
        <span class="user-dropdown js-link btn">
          <i class="account-arrow"></i>
          <i class="mark-as-spam-silhouette"></i>
          <i class="mark-as-spam-flag"></i>
          <small class="mark-as-spam-text">¿Spam?</small>
          <ul class="dropdown-menu">
            <li class="dropdown-caret">
              <span class="caret-outer"></span>
              <span class="caret-inner"></span>
            </li>
            <li class="mention-text pretty-link dropdown-link not-blocked">Twittear a <s>@</s>ciistacna</li>
            <li class="dm-text dropdown-link">Enviar un Mensaje Directo</li>
            <li class="list-text pretty-link dropdown-link not-blocked">Añadir o quitar de las listas&hellip;</li>
            <li class="dropdown-divider not-blocked"></li>
            <li class="block-text pretty-link dropdown-link not-blocked">Bloquear a <s>@</s>ciistacna</li>
            <li class="unblock-text pretty-link dropdown-link">Desbloquear a <s>@</s>ciistacna</li>
            <li class="report-spam-text pretty-link dropdown-link">Reportar a <s>@</s>ciistacna por spam</li>
            <li class="hide-suggestion-text dropdown-link">Ocultar esta recomendación</li>
            <li class="dropdown-divider is-following"></li>
            <li class="retweet-on-text dropdown-link">Activar Retweets</li>
            <li class="retweet-off-text dropdown-link">Desactivar los Retweets</li>
            <li class="device-notifications-on-text dropdown-link">Activar las notificaciones en tu móvil</li>
            <li class="device-notifications-off-text dropdown-link">Desactivar las notificaciones en tu móvil</li>
          </ul>
        </span>
      
             
      <button class="js-follow-btn follow-button btn" type="button">
        <span class="button-text follow-text"><i class="follow"></i> Seguir</span>
        <span class="button-text following-text">Siguiendo</span>
        <span class="button-text unfollow-text">Dejar de seguir</span>
        <span class="button-text blocked-text">Bloqueado</span>
        <span class="button-text unblock-text">Desbloquear</span>
        <span class="button-text pending-text">Pendiente</span>
        <span class="button-text cancel-text">Cancelar</span>
      </button>
       
       </div>

      <div class="content">
          <div class="stream-item-header">
            <a class="account-group js-user-profile-link" href="/ciistacna">
              <img class="avatar js-action-profile-avatar " src="https://twimg0-a.akamaihd.net/profile_images/2275981958/xrujg99nkdxfrjwrcphe_normal.jpeg" alt="Congreso Informática" data-user-id="597067423"/>
              <strong class="fullname js-action-profile-name">Congreso Informática</strong>
              <span>&rlm;</span>
              
              <span class="username js-action-profile-name">@ciistacna</span>
            </a>
          </div>
            <p class="bio ">
                Congreso Internacional de Informática y Sistemas
visítanos en: <a href="http://www.facebook.com/XIII.CIIS.Tacna.2012" rel="nofollow">http://www.facebook.com/XIII.CIIS.Tacna.2012</a>
            </p>
      
        </div>
      </div>
      
        </div>
  <div class="js-stream-item stream-item stream-item" data-item-id="815022048" data-item-type="user" id="stream-item-user-815022048">
      
      <div class="account  js-actionable-user js-profile-popup-actionable " data-screen-name="InforGuide" data-user-id="815022048"   >
            
           <div class="user-actions btn-group following can-dm including " data-user-id="815022048"
           data-screen-name="InforGuide" data-name="InforGuide" data-protected="false">
       
             
        <span class="user-dropdown js-link btn">
          <i class="account-arrow"></i>
          <i class="mark-as-spam-silhouette"></i>
          <i class="mark-as-spam-flag"></i>
          <small class="mark-as-spam-text">¿Spam?</small>
          <ul class="dropdown-menu">
            <li class="dropdown-caret">
              <span class="caret-outer"></span>
              <span class="caret-inner"></span>
            </li>
            <li class="mention-text pretty-link dropdown-link not-blocked">Twittear a <s>@</s>InforGuide</li>
            <li class="dm-text dropdown-link">Enviar un Mensaje Directo</li>
            <li class="list-text pretty-link dropdown-link not-blocked">Añadir o quitar de las listas&hellip;</li>
            <li class="dropdown-divider not-blocked"></li>
            <li class="block-text pretty-link dropdown-link not-blocked">Bloquear a <s>@</s>InforGuide</li>
            <li class="unblock-text pretty-link dropdown-link">Desbloquear a <s>@</s>InforGuide</li>
            <li class="report-spam-text pretty-link dropdown-link">Reportar a <s>@</s>InforGuide por spam</li>
            <li class="hide-suggestion-text dropdown-link">Ocultar esta recomendación</li>
            <li class="dropdown-divider is-following"></li>
            <li class="retweet-on-text dropdown-link">Activar Retweets</li>
            <li class="retweet-off-text dropdown-link">Desactivar los Retweets</li>
            <li class="device-notifications-on-text dropdown-link">Activar las notificaciones en tu móvil</li>
            <li class="device-notifications-off-text dropdown-link">Desactivar las notificaciones en tu móvil</li>
          </ul>
        </span>
      
             
      <button class="js-follow-btn follow-button btn" type="button">
        <span class="button-text follow-text"><i class="follow"></i> Seguir</span>
        <span class="button-text following-text">Siguiendo</span>
        <span class="button-text unfollow-text">Dejar de seguir</span>
        <span class="button-text blocked-text">Bloqueado</span>
        <span class="button-text unblock-text">Desbloquear</span>
        <span class="button-text pending-text">Pendiente</span>
        <span class="button-text cancel-text">Cancelar</span>
      </button>
       
       </div>

      <div class="content">
          <div class="stream-item-header">
            <a class="account-group js-user-profile-link" href="/InforGuide">
              <img class="avatar js-action-profile-avatar " src="https://twimg0-a.akamaihd.net/profile_images/2681031437/10d2b79a4fdd1249e460db008d6b53c1_normal.png" alt="InforGuide" data-user-id="815022048"/>
              <strong class="fullname js-action-profile-name">InforGuide</strong>
              <span>&rlm;</span>
              
              <span class="username js-action-profile-name">@InforGuide</span>
            </a>
          </div>
            <p class="bio ">
                Pagina de guias y tutoriales entendibles por todos y para todos www.inforguide.com
            </p>
      
        </div>
      </div>
      
        </div>
  <div class="js-stream-item stream-item stream-item" data-item-id="371356236" data-item-type="user" id="stream-item-user-371356236">
      
      <div class="account  js-actionable-user js-profile-popup-actionable " data-screen-name="AguayoMarcos" data-user-id="371356236"   >
            
           <div class="user-actions btn-group following can-dm including " data-user-id="371356236"
           data-screen-name="AguayoMarcos" data-name="Marcos Aguayo" data-protected="false">
       
             
        <span class="user-dropdown js-link btn">
          <i class="account-arrow"></i>
          <i class="mark-as-spam-silhouette"></i>
          <i class="mark-as-spam-flag"></i>
          <small class="mark-as-spam-text">¿Spam?</small>
          <ul class="dropdown-menu">
            <li class="dropdown-caret">
              <span class="caret-outer"></span>
              <span class="caret-inner"></span>
            </li>
            <li class="mention-text pretty-link dropdown-link not-blocked">Twittear a <s>@</s>AguayoMarcos</li>
            <li class="dm-text dropdown-link">Enviar un Mensaje Directo</li>
            <li class="list-text pretty-link dropdown-link not-blocked">Añadir o quitar de las listas&hellip;</li>
            <li class="dropdown-divider not-blocked"></li>
            <li class="block-text pretty-link dropdown-link not-blocked">Bloquear a <s>@</s>AguayoMarcos</li>
            <li class="unblock-text pretty-link dropdown-link">Desbloquear a <s>@</s>AguayoMarcos</li>
            <li class="report-spam-text pretty-link dropdown-link">Reportar a <s>@</s>AguayoMarcos por spam</li>
            <li class="hide-suggestion-text dropdown-link">Ocultar esta recomendación</li>
            <li class="dropdown-divider is-following"></li>
            <li class="retweet-on-text dropdown-link">Activar Retweets</li>
            <li class="retweet-off-text dropdown-link">Desactivar los Retweets</li>
            <li class="device-notifications-on-text dropdown-link">Activar las notificaciones en tu móvil</li>
            <li class="device-notifications-off-text dropdown-link">Desactivar las notificaciones en tu móvil</li>
          </ul>
        </span>
      
             
      <button class="js-follow-btn follow-button btn" type="button">
        <span class="button-text follow-text"><i class="follow"></i> Seguir</span>
        <span class="button-text following-text">Siguiendo</span>
        <span class="button-text unfollow-text">Dejar de seguir</span>
        <span class="button-text blocked-text">Bloqueado</span>
        <span class="button-text unblock-text">Desbloquear</span>
        <span class="button-text pending-text">Pendiente</span>
        <span class="button-text cancel-text">Cancelar</span>
      </button>
       
       </div>

      <div class="content">
          <div class="stream-item-header">
            <a class="account-group js-user-profile-link" href="/AguayoMarcos">
              <img class="avatar js-action-profile-avatar " src="https://twimg0-a.akamaihd.net/profile_images/1771375452/DSC02946_normal.JPG" alt="Marcos Aguayo" data-user-id="371356236"/>
              <strong class="fullname js-action-profile-name">Marcos Aguayo</strong>
              <span>&rlm;</span>
              
              <span class="username js-action-profile-name">@AguayoMarcos</span>
            </a>
          </div>
            <p class="bio ">
                Desarrollador Front-end y Back-end.
<a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23PHP" rel="nofollow" title="#PHP"><s>#</s><b>PHP</b></a>, <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23JavaScript" rel="nofollow" title="#JavaScript"><s>#</s><b>JavaScript</b></a>, <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23ActionScript3" rel="nofollow" title="#ActionScript3"><s>#</s><b>ActionScript3</b></a>, <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23Python" rel="nofollow" title="#Python"><s>#</s><b>Python</b></a>, <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23HTML5" rel="nofollow" title="#HTML5"><s>#</s><b>HTML5</b></a>, <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23CSS3" rel="nofollow" title="#CSS3"><s>#</s><b>CSS3</b></a>, <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23Java" rel="nofollow" title="#Java"><s>#</s><b>Java</b></a>, <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23C" rel="nofollow" title="#C"><s>#</s><b>C</b></a>, <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23jQuery" rel="nofollow" title="#jQuery"><s>#</s><b>jQuery</b></a>, <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23SQL" rel="nofollow" title="#SQL"><s>#</s><b>SQL</b></a>, <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23Wordpress" rel="nofollow" title="#Wordpress"><s>#</s><b>Wordpress</b></a>, <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23Magento" rel="nofollow" title="#Magento"><s>#</s><b>Magento</b></a>.
            </p>
      
        </div>
      </div>
      
        </div>
  <div class="js-stream-item stream-item stream-item" data-item-id="135630899" data-item-type="user" id="stream-item-user-135630899">
      
      <div class="account  js-actionable-user js-profile-popup-actionable " data-screen-name="appsmashups" data-user-id="135630899"   >
            
           <div class="user-actions btn-group following can-dm including " data-user-id="135630899"
           data-screen-name="appsmashups" data-name="AppsMashups" data-protected="false">
       
             
        <span class="user-dropdown js-link btn">
          <i class="account-arrow"></i>
          <i class="mark-as-spam-silhouette"></i>
          <i class="mark-as-spam-flag"></i>
          <small class="mark-as-spam-text">¿Spam?</small>
          <ul class="dropdown-menu">
            <li class="dropdown-caret">
              <span class="caret-outer"></span>
              <span class="caret-inner"></span>
            </li>
            <li class="mention-text pretty-link dropdown-link not-blocked">Twittear a <s>@</s>appsmashups</li>
            <li class="dm-text dropdown-link">Enviar un Mensaje Directo</li>
            <li class="list-text pretty-link dropdown-link not-blocked">Añadir o quitar de las listas&hellip;</li>
            <li class="dropdown-divider not-blocked"></li>
            <li class="block-text pretty-link dropdown-link not-blocked">Bloquear a <s>@</s>appsmashups</li>
            <li class="unblock-text pretty-link dropdown-link">Desbloquear a <s>@</s>appsmashups</li>
            <li class="report-spam-text pretty-link dropdown-link">Reportar a <s>@</s>appsmashups por spam</li>
            <li class="hide-suggestion-text dropdown-link">Ocultar esta recomendación</li>
            <li class="dropdown-divider is-following"></li>
            <li class="retweet-on-text dropdown-link">Activar Retweets</li>
            <li class="retweet-off-text dropdown-link">Desactivar los Retweets</li>
            <li class="device-notifications-on-text dropdown-link">Activar las notificaciones en tu móvil</li>
            <li class="device-notifications-off-text dropdown-link">Desactivar las notificaciones en tu móvil</li>
          </ul>
        </span>
      
             
      <button class="js-follow-btn follow-button btn" type="button">
        <span class="button-text follow-text"><i class="follow"></i> Seguir</span>
        <span class="button-text following-text">Siguiendo</span>
        <span class="button-text unfollow-text">Dejar de seguir</span>
        <span class="button-text blocked-text">Bloqueado</span>
        <span class="button-text unblock-text">Desbloquear</span>
        <span class="button-text pending-text">Pendiente</span>
        <span class="button-text cancel-text">Cancelar</span>
      </button>
       
       </div>

      <div class="content">
          <div class="stream-item-header">
            <a class="account-group js-user-profile-link" href="/appsmashups">
              <img class="avatar js-action-profile-avatar " src="https://twimg0-a.akamaihd.net/profile_images/1497049159/avatar_appsmashups_normal.jpg" alt="AppsMashups" data-user-id="135630899"/>
              <strong class="fullname js-action-profile-name">AppsMashups</strong>
              <span>&rlm;</span>
              
              <span class="username js-action-profile-name">@appsmashups</span>
            </a>
          </div>
            <p class="bio ">
                Blog de tecnología: Programas, Juegos, Descargas, Noticias, Seguridad, Internet y cultura Geek.
            </p>
      
        </div>
      </div>
      
        </div>




</div>
          <div class="stream-footer"><div class='timeline-end has-items has-more-items'>
  <div class="stream-end">
    <div class="stream-end-inner">
        <i class="bird-etched"></i>
        <p class="empty-text">No tienes seguidores todavía</p>
          <p><button type='button' class='btn-link back-to-top hidden'>Volver arriba &uarr;</button></p>  </div>
  </div>
  <div class="stream-loading">
    <div class="stream-end-inner">
      <span class="spinner" title="Cargando"></span>
    </div>
  </div>
</div></div>
