<h1>Prueba#contacto</h1>
<p>Find me in app/views/prueba/contacto.html.erb</p>

<% puts "Hola mi texto desde ruby"; %>

<%
#Creando o declara la definicion

def saludo()
	return "Hola mundodddd"
end

%>
<%=

saludo();

%>
<hr>
<h2> Trabajando con definiciones parámetros en RoR</h2>
<% def saludo_2(nombre)
		return "Hola #{nombre} , buen día"
	end
%>

<%= saludo_2("Juan Carlos")%>